.main {
  padding-bottom: 55px;
}

.main .container {
  width: 1141px;
  margin: 0 auto;
}

.main_section {
  height: 650px;
  color: #ffffff;
  position: relative;
}

.main_section__upper_text {
  height: 197px;
  width: 511px;
  font-size: 72px;
  font-weight: 700;
  margin: 0 !important;
  position: absolute;
  top: 85px;
}

.main_section__middle_text {
  height: 20px;
  width: 196px;
  font-size: 18px;
  margin: 0 !important;
  position: absolute;
  top: 310px;
}

.last_minute_tours {
  min-height: 549px;
}

.last_minute_tours__mail_header {
  color: #ffffff;
  font-weight: bold;
  font-size: 36px;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin: 15px 0 !important;
}

.last_minute_tours__header {
  font-weight: bold;
  font-size: 24px;
  margin: 29px 20px !important;
  margin-bottom: 21px !important;
}

.last_minute_tours__header .frame {
  position: relative;
  top: 2px;
}

.last_minute_tours__one_element {
  height: 100%;
  width: 362px;
  min-height: inherit;
  background-color: #ffffff;
  color: black;
  border-radius: 5px;
  margin: 0 13px;
}



/* .last_minute_tours__block_for_list {
  position: relative;
  margin-top: 35px;
  min-height: 449px;
} */

.last_minute_tours__block_for_list {
  position: relative;
  margin-top: 35px;
  min-height: 449px;
  display: inline-block;
}

.last_minute_tours__one_element:nth-child(1) {
  float: left;
  margin-left: 0px;
  padding-left: 0px;
}

.last_minute_tours__one_element:nth-child(2) {
  float: left;
}

.last_minute_tours__one_element:nth-child(3) {
  float: left;
  margin-right: 0px;
  padding-right: 0px;
}

/* .last_minute_tours__one_element:nth-child(1) {
  position: absolute;
}

.last_minute_tours__one_element:nth-child(2) {
  position: absolute;
  left: 387px;
}

.last_minute_tours__one_element:nth-child(3) {
  position: absolute;
  left: 775px;
} */

.last_minute_tours__short_description {
  height: 26px;
  position: relative;
}

.last_minute_tours__count_of_nights {
  position: absolute;
  left: 18px;
}

.last_minute_tours__breakfast {
  position: absolute;
  left: 170px;
}

.last_minute_tours__breakfast
  .last_minute_tours__icon_description--breakfast_label {
  left: 55px !important;
}

.last_minute_tours__icon {
  position: absolute;
  left: 10px;
}

.last_minute_tours__icon_description {
  position: absolute;
  color: #666666;
  margin: 0 !important;
  left: 46px;
  top: 3px;
  width: 90px;
  height: 22px;
  font-size: 16px;
}

.last_minute_tours__description {
  font-size: 14px;
  color: #303030;
  padding: 10px 19px;
}

.watch_button {
  height: 55px;
  width: 135px;
  font-size: 14px;
  font-weight: bold;
  border: 1px red solid;
  border-radius: 30px;
  background-color: white;
  color: red;
  margin: 0 20px;
  position: absolute;
  /* bottom: 24px; */
  left: 5px;
}

.main_section .watch_button--in_hero_part {
  width: 168px;
  background-color: red;
  color: white;
  position: absolute;
  top: 364px;
  margin: 0px 0px;
  line-height: 50px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.watch_button--in_hero_part:hover {
  background-color: #da0100;
}

.watch_button--in_hero_part:focus{
  outline: none;
  background-color: #da0100;
}

.last_minute_tours__content .watch_button--color-white {
  background-color: white;
  color: red;
  position: relative;
  left: 3px;
  /* bottom: -6px; */
  display: block;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}

.watch_button--color-red {
  background-color: red;
  color: white;
}

.watch_button--color-white:hover {
  background-color: red;
  color: white;
}

.watch_button--color-white:focus{
  outline: none;
  background-color: red;
  color: white;
}

.news {
  margin-top: 127px;
  height: 600px;
  margin-bottom: 120px;
}

.news__header {
  color: #ffffff;
  font-weight: bold;
  font-size: 36px;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  padding-bottom: 48px;
}

.news__first_two {
  position: relative;
  height: 394px;
  margin-bottom: 40px;
}

.news__sela:nth-child(1) {
  position: absolute;
  left: 0px;
}

.news__sela:nth-child(2) {
  position: absolute;
  right: 0px;
}

.news__text_on_the_picture {
  position: absolute;
  bottom: 33px;
  left: 30px;
  color: white;
}

.news__text_on_the_picture_first {
  font-size: 14px;
}

.news__text_on_the_picture_second {
  font-weight: bold;
  font-size: 24px;
  margin-top: 10px !important;
  margin-bottom: 0px !important;
}

.news__text_on_the_picture_third {
  font-size: 16px;
  margin-top: 3px;
}

.news__text_on_the_picture--block_in_right_side {
  bottom: 12px;
}

.pagination_inner_block {
  color: white;
  font-size: 16px;
  position: relative;
  width: 420px;
  height: 53px;
  margin: 0 auto;
}

.pagination_inner_block_text {
  width: 125px;
  height: 20px;
  position: absolute;
}

.pagination_element {
  display: inline-block;
  margin: 0px 0px;
}

.pagination_element__limk {
  text-decoration: none;
  color: white;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 32px;
  text-align: center;
}

.pagination_element__limk:focus {
  outline: none;
  background-color: white;
  color: red;
}

.pagination_element--active .pagination_element__limk {
  background-color: white;
  color: red;
  text-align: center;
  line-height: 32px;
  margin-right: 10px;
}

.pagination_inner_block_numbers {
  position: absolute;
  top: 11px;
  left: 110px;
  margin: 0 !important;
  font-weight: bold;
}

.about {
  height: 552px;
  position: relative;
}

.about__front_picture {
  position: absolute;
  right: 0px;
  top: 93px;
  background-image: url("./img/mountains.png");
  background-color: #cccccc;
  height: 450px;
  width: 785px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.about:before {
  content: url(./img/gates.png);
  width: 490px;
  height: 505px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.about__text_on_front_image {
  position: absolute;
  top: 57px;
  left: 80px;
}

.about__text_header {
  font-weight: bold;
  font-size: 36px;
  margin: 10px 0px !important;
}

.about__text_middle {
  font-size: 16px;
  margin-top: 35px;
  margin-bottom: 0 !important;
  width: 502px;
  /* height: 232px; */
  line-height: 1.8;
}

.social__icon_item {
  display: inline-block;
}

.fa:focus {
  outline: none;
  opacity: 0.7;
}

.social__icon_bar {
  position: absolute;
  right: 260px;
  top: 20px;
}

.contacts__footer {
  position: absolute;
  top: 40px;
  right: 0px;
  color: white;
  width: 191px;
  height: 70px;
}

.contants__workhours__footer {
  font-size: 11px;
  position: absolute;
  margin: 0 !important;
  width: 163px;
  height: 20px;
  top: 10px;
  right: 0px;
  color: #9a9a9a;
}

.contacts__phone__footer {
  font-size: 26px;
  position: absolute;
  width: 191px;
  height: 20px;
  top: 20px;
}

.contacts__phone__footer:focus {
  outline: none;
}

.watch_button--about_block {
  margin: 0 0;
  bottom: -92px;
  width: 164px;
  display: block;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}

.watch_button--about_block:focus{
  outline: none;
  background-color: #da0100;
}

footer .container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.outer_round_icon {
  color: gray;
}

.inner_content_of_icon {
  color: black;
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  background: #454545;
  color: black !important;
}

.fa:hover {
  opacity: 0.7;
}
