html,
body {
  height: 100%;
  background-color: #001821;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px !important;
}

.header-block {
  height: 123.36px;
}

.header-block .container {
  width: 1141px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.header-block .logo {
  /* position: absolute;
  top: 40px;
  left: 0px; */
  display: block;
}

.logo:focus {
  outline: none;
}


.header-block .container .menu__list {
  /* position: relative; */
  font-size: 14px;
  list-style: none;
  display: flex;
  align-items: center;
  padding-inline-start: 0px!important;
  justify-content: space-evenly;
}

.header-block .container .menu__list :nth-child(1) {
  /* position: absolute;
  top: 15px;
  left: 32px; */
}

.header-block .container .menu__list :nth-child(2) {
  /* position: absolute;
  top: 15px;
  left: 140px; */
}

.header-block .container .menu__list :nth-child(3) {
  /* position: absolute;
  top: 15px;
  left: 240px; */
}

.header-block .container .menu {
  /* position: absolute; */
  width: 407px;
  
  /* top: 10px;
  left: 100px; */
}

.menu__link:hover{
  color: red;
}

.menu__link:focus{
  outline: none;
  color: red;
}

.header-block .container .contacts {
  /* position: absolute;
  right: 0px;
  top: 20px; */
  color: white;
  width: 191px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-block .container .contacts .contants__workhours {
  font-size: 13px;
  /* position: absolute; */
  width: 97px;
  height: 20px;
  /* top: 47px;
  right: 0; */
  text-decoration: underline;
}

.header-block .container .contacts .contacts__phone {
  font-size: 26px;
  /* position: absolute; */
  height: 35px;
  /* top: 18px; */
}

.header-block .container .contacts .contacts__phone:focus {
  outline: none;
}

.header-block a {
  color: aliceblue;
  text-decoration: none;
}

/* .header .container {
  width: 1141px;
  margin: 0 auto;
  position: relative;
}

.header .logo {
  position: absolute;
  top: 40px;
  left: 0px;
}

.header .container .menu__list {
  position: relative;
  font-size: 14px;
}

.header .container .menu__list :nth-child(1) {
  position: absolute;
  top: 15px;
  left: 32px;
}

.header .container .menu__list :nth-child(2) {
  position: absolute;
  top: 15px;
  left: 140px;
}

.header .container .menu__list :nth-child(3) {
  position: absolute;
  top: 15px;
  left: 240px;
}

.header .container .menu{
  position: absolute;
  width: 264px;
  top: 10px;
  left: 100px;
}

.header .container .contacts {
  position: absolute;
  right: 0px;
  top: 20px;
  color: white;
  width: 191px;
  
  
}

.header .container .contacts .contants__workhours {
  font-size: 13px;
  position: absolute;
  width: 97px;
  height: 20px;
  top: 35px;
  right: 0;
}

.header .container .contacts .contacts__phone {
  font-size: 26px;
  position: absolute;
  height: 35px;
  top: 18px;
  
  
}

.header a{
  color: aliceblue;
  text-decoration: none;
} */
