body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: black;
  height: 123.36px;
}

.header .container {
  width: 1141px;
  margin: 0 auto;
  position: relative;
}

.header .logo {
  position: absolute;
  top: 40px;
  left: 0px;
}

.header .container .menu__list {
  position: relative;
  font-size: 14px;
}

.header .container .menu__list :nth-child(1) {
  position: absolute;
  top: 15px;
  left: 32px;
}

.header .container .menu__list :nth-child(2) {
  position: absolute;
  top: 15px;
  left: 140px;
}

.header .container .menu__list :nth-child(3) {
  position: absolute;
  top: 15px;
  left: 240px;
}

.header .container .menu{
  position: absolute;
  width: 264px;
  top: 10px;
  left: 100px;
}

.header .container .contacts {
  position: absolute;
  right: 0px;
  top: 20px;
  color: white;
  width: 191px;
  
  
}

.header .container .contacts .contants__workhours {
  font-size: 13px;
  position: absolute;
  width: 97px;
  height: 20px;
  top: 35px;
  right: 0;
}

.header .container .contacts .contacts__phone {
  font-size: 26px;
  position: absolute;
  height: 35px;
  top: 18px;
  
  
}

.header a{
  color: aliceblue;
  text-decoration: none;
}